{
  "presets": [
    "@babel/preset-env",
    "react",
    ["env", {
      "useBuiltIns": "entry"
    }]
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "babel-plugin-styled-components",
    "transform-object-assign",
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
      }
    }]
  ]
}
