@font-face {
  font-family: "Test";
  src: url("./utils/Exo2.0-Thin.otf");
}

.App {
  text-align: center;
  height: 100%;
  background: linear-gradient(180deg, rgb(0 0 0 / 50%) 0%, rgba(9,37,121,0) 50%, rgb(0 0 0 / 50%) 100%), url('./images/background.png');;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#root {
  height: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App__title-h1 {
  color: #fff;
  text-align: center;
  font-family: 'Test', sans-serif;
}

.App__cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card::after {
  position: absolute;
  content: '';
  background: #f00;
  width: 100%;
  height: 4px;
  top: 42px;
  transform: rotateZ(127deg);
  left: -50%;
}

.App__title {
  margin-bottom: 25px;
  font-size: 36px;
}

.card {
  background: #fff;
  clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%, 0 10%);
  border: 4px solid red;
  position: relative;
  color: #666;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 5px;
  background: #f2f2f2;
  height: 490px;
  cursor: pointer;
  min-width: 380px;
}

.card-wrapper {
  margin-right: 80px;
}


.card-wrapper:last-child {
  margin-right: 0;
}

span.card__description-span {
  font-size: 16px;
}

.card__description{

  text-align: left;
}

span.extra__string-amount {
  font-weight: bold;
  margin-right: 5px;
}

h3.card__taste-h3 {
  font-size: 24px;
  color: #000;
  font-weight: bold;
  text-align: left;
}

h2.card__title-h2 {
  color: #000;
  font-size: 48px;
  font-weight: bold;
  text-align: left;
}

.card__extras {
  text-align: left;
  margin-top: 17px;
}

.card__general {
  padding: 20px 45px;
}

.card__cat {
  display: flex;
}

.card__weight {
  border-radius: 100%;
  background: #000;
  position: absolute;
  right: 10px;
  bottom: 10px;
  height: 90px;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  flex-direction: column;
  line-height: 22px;
}

.weight__amount-span {
  font-size: 42px;
}

.weight__unit-span {
  font-size: 21px;
}
.card__relevance {
  color: #fff;
}


.card__relevance-disabled {
  color: #ffff66;
}

.card__disabled {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #f2f2f2b8;
}

@media(max-width: 1340px) {
  .card-wrapper{
    margin-right: 0;
    padding: 20px;
  }
}

a.card__relevance-a {
}